



.tabcell
{
    height:30px;
    width: 16%;
    text-align:center;
    /* border-style: none solid none solid; */
    border-width: 1px;
    margin:0px;
    padding:0px;
    background-color:rgba(255, 255, 255, 0.1);
    cursor:pointer;
    border-radius: 3px;
}

.tabcell:hover
{
    height:30px;
    width: 16%;
    text-align:center;
    /* border-style: none solid none solid; */
    border-width: 1px;
    margin:0px;
    padding:0px;
    background-color:rgba(255, 255, 255, 0.2);
    cursor:pointer;
    border-radius: 3px;
}

.Image
{
    height:90px;

}

.grayspace
{
    height:100%;
    width: 100%;
    text-align:center;
    /* border-style: none solid none solid; */
    border-width: 1px;
    margin:0px;
    padding:0px;
    background-color:rgba(255, 255, 255, 0.05);
    border-radius: 3px;
}

.marker 
{
    background-image: url('Bus_Active.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup 
{
    max-width: 200px;
}

.mapboxgl-popup-content 
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:black;
}

.menuBox
{
    table-layout: fixed;

    margin-top:0px;
    padding-top:0px;
    width:100%;
}

.deviceGroup
{
    height:25px;
    width:100%;
    border-width:2px;
    border-style:solid none none none;
    border-color:rgba(255, 255, 255, 0.2);
}

.deviceGroup:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

.deviceGroupIcon
{
    width:30px;
    height:20px;
}

.deviceGreenIcon
{
    width:30px;
    height:20px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-size:20px 20px;  
    background-image:url('Bus_Active.png');
}

.deviceYellowIcon
{
    width:30px;
    height:20px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-size:20px 20px;  
    background-image:url('Bus_Caution.png');
}

.deviceRedIcon
{
    width:30px;
    height:20px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-size:20px 20px;  
    background-image:url('Bus_Emergency.png');
}

.deviceGroupCounter
{
    height:10px; 
    width:15px; 
    font-size:9px; 
    color:black;
    background-color:rgba(255, 255, 255, 0.8); 
    border-radius:4px; 
    transform: translate(50%, -50%); 
    text-align:center; 
    border-style:solid; 
    border-width:1.5px; 
    border-color:rgba(0,0,0,0.5);
}

.groupsPanel
{
    vertical-align:top;
    max-width:700px;
    min-width:100px;
    width:20%;
    white-space: nowrap;
}
